<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FeiragroWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FeiragroWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="f-header">
        <nav class="f-nav">
            <button class="f-nav-hamburguer"></button>
            <a class="f-logo-text" asp-area="" asp-controller="Home" asp-action="Index"></a>
            <div class="f-input-text-search-root col-4 f-hide-nav">
                <input type="search" placeholder="Pesquisar" class="f-input-text-search">
                <div id="f-input-icon-search"></div>
            </div>
            <ul class="f-nav-list-desktop">
                <li><a href="#" class="f-hide-nav">Onde você está?</a></li>
                <li><a class="f-hide-nav" asp-controller="Home" asp-action="Index">Minha conta</a></li>
                <li><a href="#" class="">R$ 0,00</a></li>
            </ul>
            <ul class="f-nav-list-phone">
                <li><a class="f-logo-text" asp-area="" asp-controller="Home" asp-action="Index"></a></li>
                <li><a href="#">Minha conta</a></li>
                <li><a href="#">Onde você está?</a></li>
                <li><hr /></li>
                <li><a href="#">Resumo da conta</a></li>
                <li><a href="#">Meus dados</a></li>
                <li><a href="#">Meus pedidos</a></li>
                <li><a href="#">Alterar senha</a></li>
                <li><a href="#">Sair</a></li>
                <li><hr /></li>
            </ul>
        </nav>
        <div class="f-show-input-nav">
            <div class="f-input-text-search-root col-7">
                <input type="search" placeholder="Pesquisar" class="f-input-text-search">
                <div id="f-input-icon-search"></div>
            </div>
        </div>
    </header>
    <br />

    <header>
        <partial name="_LoginPartial" />
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FeiragroWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Associacao" asp-action="Index">Associacao</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pessoa" asp-action="Index">Pessoa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoProduto" asp-action="Index">TipoProdutos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Produto" asp-action="Index">Produto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Feira" asp-action="Index">Feiras</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="f-main">
            @RenderBody()
        </main>
    </div>

    <footer class="f-footer">
        <div class="f-footer-root">
            <div class="f-logo-div">
                <div class="f-logo-image"></div>
            </div>
            <section class="f-footer-section">
                <div class="f-footer-div">
                    <h3>Institucional</h3>
                    <ul>
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Nossa Equipe</a></li>
                        <li><a href="#">Parceiros e apoio</a></li>
                    </ul>
                </div>
                <div class="f-footer-div">
                    <h3>Contato</h3>
                    <ul>
                        <li><a href="#">E-mail</a></li>
                        <li><a href="#">Telefone</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
                <div class="f-footer-div">
                    <h3>Termos e Políticas</h3>
                    <ul>
                        <li><a href="#">Termos de uso do site</a></li>
                        <li><a href="#">Políticas de privacidade</a></li>
                        <li><a href="#">Políticas de cookies</a></li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="f-copy-right">
            &copy; 2023 - Feiragro - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
